
.container {
    display:grid;
    place-items:center;
    justify-items: center; 
    height: 500px; 
    width: 340px;
    background:#2a2a2a;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto; 
}
.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    background: dodgerblue;
    color: #fff;
}
button:hover {
    cursor: pointer;
    background: rgb(21, 105, 188);
}
]